@model IEnumerable<Pc3practica.Models.Productos>
@{
    ViewData["Title"] = "Home Page";
}
  
<div class="card text-center" >
  <div class="card-header" >
  </div>
  <div class="card-body">
    <h5 class="card-title"><h2 style="-webkit-text-stroke: 2px;"> Productos </h2></h5>
    <p class="card-text">
    </p>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>



     <div class="row">
        <div class="col-md-12">
            <div class="row">
    
@foreach (var item in Model) {

    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="@item.ImagenName" class="card-img-top" height="200px">
                            <div class="card-body">
                                <h3 class="card-title">@item.Name</h3>
                                <h4 class="card-subtitle">s/ @item.Price</h4>
                                <h5 class="card-subtitle">@item.Descripcion</h5>
                                <h5 class="card-subtitle">Cant. @item.Price</h5>
                                <p class="card-text">@item.Lugar</p>
                               
                                <a href="#" class="btn btn-alert"><button>Comprar</button></a>
                            </div>
                        </div>
                    </div>
            
}
     </div>
                        </div>
                    </div>

<div style="margin-top: 5%; text-align: center;">
<p>
    <a class="btn btn-light" asp-action="Create" >Crear nuevo Producto</a>
</p>
</div>
